
<div class="">
    <div class="full-page-background">
        <div class="container-long">
            <div class="flex items-center justify-between header-align-top">
                <p class="font-size-20 cursor-pointer white-text-color font-medium tracking-normal mb-0">
                    Logo
                </p>                
            </div>
        </div>
        <div class="md:container md:mx-auto">
            <div class="flex items-center justify-center center-box">
                <div class="login-box p-12">
                    <p class="font-medium font-size-24 tracking-normal heading-title-text-color"
                    style="text-align: center;">
                        You have been successfully verified.
                    </p>
                    <p class="heading-title-text-color font-size-18 tracking-normal font-normal"
                    style="text-align: center;">
                         Please click login if you don't rediret to login page
                        <br>
                        <a style="color:blue;text-decoration: underline;" routerLink="/login">Login</a>
                    </p>

                </div>
            </div>
        </div>

    </div>
</div>