<div class="">
  <div class="full-page-background" style="overflow: hidden">
    <!-- <div class="container-long">
            <div class="flex items-center justify-between header-align-top">
                <p class="font-size-20 cursor-pointer white-text-color font-medium tracking-normal mb-0">
                    <img src="../../../assets/img/HonestWork Logo.png" style="height: 35px;width: 148px;">
                </p>
                <p class="font-size-20 cursor-pointer white-text-color font-medium tracking-normal mb-0"
                    routerLink="/register">
                    SignUp
                </p>
            </div>
        </div> -->

    <div
      bsModal
      [config]="{ backdrop: 'static', keyboard: false }"
      class="modal fade"
      #htmlAddModal="bs-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <form [formGroup]="FrgPwd" method="post" class="form-horizontal">
            <div class="modal-header">
              <h3 class="modal-title" style="font-weight: bold">
                Forgot Password
              </h3>
              <button
                type="button"
                class="close"
                (click)="htmlAddModal.hide()"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="col col-md-12">
                <div class="col col-md-12">
                  <label for="project-Name" class="form-control-label"
                    >Email address</label
                  >
                  <span style="color: red; margin-left: 2px; font-weight: bold"
                    >*</span
                  >
                </div>
                <div class="col col-md-12">
                  <input
                    type="email"
                    id="project-input"
                    formControlName="emailid"
                    maxlength="100"
                    placeholder="Enter emailid here"
                    class="px-3 py-3 block input-form-control pl-10"
                    required
                  />
                  <p
                    class="error-text"
                    *ngIf="
                      submitAttempt && FrgPwd.controls.emailid.errors?.required
                    "
                  >
                    Please enter email
                  </p>
                  <p
                    class="error-text"
                    *ngIf="
                      submitAttempt &&
                      !FrgPwd.controls.emailid.errors?.required &&
                      FrgPwd.controls.emailid?.invalid
                    "
                  >
                    Email must be a valid email address
                  </p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                (click)="htmlAddModal.hide()"
                aria-label="Close"
              >
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-primarytheme"
                (click)="sendMail()"
              >
                Send
              </button>
              <!-- <button type="button" class="btn btn-dark" (click)="htmlAddModal.hide()" aria-label="Close"
                                style="background: white;
                                border: none;
                                color: #29ccb1;">Cancel</button>
                            <button type="button" class="btn btn-dark" (click)="sendMail();"
                                style="background-color:#29ccb1;border-color:#29ccb1">Send</button> -->
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
      <div class="container mt-10">
        <div
          class="sol-lg-10 col-md-12 col-sm-12"
          style="margin-left: auto; margin-right: auto"
        >
          <div class="row m-md-5">
            <div class="col-lg-6" style="background-color: #fff">
              <div class="py-5">
                <div class="form pt-8">
                  <div>
                    <p
                      class="font-size-14 mb-2 tracking-normal font-bold input-label-color"
                    >
                      Email address <span class="help-block">*</span>
                    </p>
                    <input
                      class="block input-form-control"
                      type="email"
                      formControlName="emailId"
                      id="emailId"
                      placeholder="Email address*"
                      required
                      maxlength="100"
                    />
                    <p
                      class="error-text"
                      *ngIf="
                        loginSubmitted &&
                        loginForm.controls.emailId.errors?.required
                      "
                    >
                      Please enter email
                    </p>
                    <p
                      class="error-text"
                      *ngIf="
                        loginSubmitted &&
                        !loginForm.controls.emailId.errors?.required &&
                        loginForm.controls.emailId?.invalid
                      "
                    >
                      Invalid email address
                    </p>
                  </div>
                  <div class="pt-6">
                    <p
                      class="font-size-14 mb-2 tracking-normal font-bold input-label-color"
                    >
                      Password <span class="help-block">*</span>
                    </p>
                    <div class="relative flex w-full flex-wrap items-stretch">
                      <input
                        [type]="passwordType ? 'text' : 'password'"
                        formControlName="password"
                        class="px-3 py-3 input-form-control relative pr-10"
                        id="exampleInputPassword1"
                        placeholder="Password*"
                        required
                        maxlength="20"
                      />
                      <span class="d-inline-block field-icon"> </span>

                      <div>
                        <span
                          (click)="togglePasswordFieldTypes()"
                          class="z-10 h-full leading-snug font-normal absolute text-center absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3"
                          ><i
                            [class]="
                              passwordType
                                ? 'far fa-fw fa-eye toggle-password'
                                : 'far fa-fw fa-eye-slash toggle-password'
                            "
                          ></i
                        ></span>
                      </div>

                      <p
                        class="error-text"
                        *ngIf="
                          loginSubmitted &&
                          loginForm.controls.password.errors?.required
                        "
                      >
                        Please enter password
                      </p>
                      <p
                        class="error-text"
                        *ngIf="
                          loginSubmitted &&
                          !loginForm.controls.password.errors?.required &&
                          loginForm.controls.password?.invalid
                        "
                      >
                        Password must be atleast 6 characters. !.
                      </p>
                    </div>
                  </div>
                  <p
                    class="font-size-14 tracking-normal font-medium link-text-color cursor-pointer mb-0"
                    data-toggle="modal"
                    (click)="htmlAddModal.show(); openModal()"
                    style="font-size: 15px; margin-top: 10px"
                  >
                    Forgot password ?
                  </p>
                </div>
                <!-- <div class="create-account-btn pt-7 text-center">
                  <button
                    class="large-btn-style text-center create-account-btn-style"
                    type="submit"
                  >
                    Login
                  </button>
                </div> -->
                <div class="create-account-btn text-center">
                  <button class="btn large-btn-style text-center" type="submit">
                    Login
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-6" style="background-color: #1c3a84">
              <div class="flex items-center justify-between header-align-top">
                <p
                  class="font-size-20 cursor-pointer white-text-color font-medium tracking-normal mb-0"
                  style="padding: 13%"
                >
                  <img
                    src="../../../assets/img/HonestWork Logo.png"
                    style="width: 100%; height: 100%"
                  />
                </p>
              </div>
              <div
                class="font-size-md-20 d-flex justify-content-center cursor-pointer white-text-color font-medium tracking-normal m-1 mb-3"
                routerLink="/register"
                style="color: #fff"
              >
                New To the Honest Work? SignUp
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Muskaan Commented starts -->

      <!-- <div class="md:container md:mx-auto">
                <div class="flex items-center justify-center center-box">
                    <div class="login-box p-12">
                        <p class="font-medium font-size-24 tracking-normal heading-title-text-color">
                            Hello! Welcome to Honest Work
                        </p>
                        <p class="heading-title-text-color font-size-18 tracking-normal font-normal">
                            Please login to your account to continue
                        </p>
                        <div class="form pt-8">
                            <div>
                                <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                    Email address <span class="help-block">*</span>
                                </p>
                                <input class="block input-form-control" type="email" formControlName="emailId"
                                    id="emailId" placeholder="Email address*" required maxlength="100" />
                                <p class="error-text"
                                    *ngIf="loginSubmitted && loginForm.controls.emailId.errors?.required">
                                    Please enter email</p>
                                <p class="error-text"
                                    *ngIf="loginSubmitted && !loginForm.controls.emailId.errors?.required && loginForm.controls.emailId?.invalid">
                                    Invalid email address</p>
                            </div>
                            <div class="pt-6">
                                <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                    Password <span class="help-block">*</span>
                                </p>
                                <div class="relative flex w-full flex-wrap items-stretch">

                                    <input [type]="passwordType ? 'text' : 'password'" formControlName="password"
                                        class="px-3 py-3 input-form-control relative  pr-10" id="exampleInputPassword1"
                                        placeholder="Password*" required maxlength="20" />
                                    <span class="d-inline-block field-icon">


                                    </span>

                                    <div>
                                        <span (click)="togglePasswordFieldTypes()"
                                            class="z-10 h-full leading-snug font-normal absolute text-center absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3"><i
                                                [class]="passwordType ? 'far fa-fw fa-eye toggle-password' : 'far fa-fw fa-eye-slash toggle-password'"></i></span>
                                    </div>

                                    <p class="error-text"
                                        *ngIf="loginSubmitted && loginForm.controls.password.errors?.required">
                                        Please enter password </p>
                                    <p class="error-text"
                                        *ngIf="loginSubmitted && !loginForm.controls.password.errors?.required && loginForm.controls.password?.invalid">
                                        Password must be atleast 6 characters. !.</p>
                                </div>
                            </div>
                            <p class="font-size-14 tracking-normal font-medium link-text-color cursor-pointer mb-0"
                                data-toggle="modal" (click)="htmlAddModal.show();openModal()"
                                style="font-size: 15px;margin-top: 10px;">
                                Forgot password ?
                            </p>
                        </div>
                        <div class="create-account-btn pt-7 text-center">
                            <button class="large-btn-style text-center create-account-btn-style" type="submit">
                                Login
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->

      <!-- Muskaan Commented ends -->
    </form>
  </div>
</div>
