.heading-title-text-color {
    color: var(--heading-title-text-color);
}
.input-label-color {
    color: var(--input-label-text-color);
}
.white-text-color {
    color: var(--white-text-color);
}
.font-size-24 {
    font-size: var(--larage-text);
}
.font-size-18 {
    font-size: var(--medium-text);
}
.font-size-14{
    font-size: var(--small-text);
}
.font-size-20 {
    font-size: var(--md-text);
}
.sidebar-icon-color {
    color: var(--sidebar-icon-color);
}
.primary-btn-text-color {
    color: var(--white-text-color);
}
.link-text-color {
    color: var(--link-text-color);
}
.white-icon-color {
    color: var(--white-icon-color);
}
.sub-heading-title-text-color {
    color: var(--heading-title-text-color);
}
.child-text-color {
    color: var(--child-text-color);
}
.font-size-40 {
    font-size: var(--extra-large-text);
}
.font-size-14-table {
    font-size: 14px;
}
.text-16 {
    font-size: 16px;
}
.danger-text-color {
    color: var(--danger-text-color);
}