:root {
    // --primary:#4400CC;
    // --primary:#397be4;
    --primary:#1c3a84;;
    // --primary:#488adf;
    --secoundry:#ffffff;
    --black:#000000;
    --danger:#CC2944;
    --gray:#808080;
    --heading-title-text-color:var(--black);
    --medium-text:18px;
    --larage-text:24px;
    --small-text:14px;
    --md-text:20px;
    --extra-large-text:40px;
    --border-radius-normal:10px;
    --placeholder-size:16px;
    --input-icon-color:var(--gray);
    --input-label-text-color:var(--gray);
    --input-placeholder-color:var(--black);
    --input-border-color:#CCCCCC;
    --large-btn-color:#1c3a84;
    --large-btn-text-color:var(--secoundry);
    --link-text-color:#29CCB1;
    --white-text-color:var(--secoundry);
    // --sidebar-background-color:var(--primary);
    // --sidebar-menu-hover-color:#330099;
    // --dashboard-header-background:#330099;
    --sidebar-background-color: #2f353a;
    --sidebar-menu-hover-color:#1b1f25;
    --sidebar-icon-color:var(--secoundry);
    // --dashboard-header-background:#3483ea;
    --dashboard-header-background:white;
    --white-icon-color:var(--secoundry);
    --primary-btn-backgound-color:var(--primary);
    --child-text-color:var(--gray);
    --dashboard-background-color:var(--white);
    --normal-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.16);
    --company-logo-background-color:#d9ccf5;
    --full-rounded:50%;
    --top-border-color:#CCCCCC;
    --progressbar-background-color:#E6E6E6;
    --project-banner:var(--white);
    --table-border:#ccc;
    --table-child-background-color:#F2F2F2;
    --count-icon-background:#E6A82E;
    --add-task-background-color:var(--primary);
    --project-box-background:#F2F2F2;
    --project-box-border-color:#CCCCCC;
    --input-disabled-color:#CCCCCC;
    --danger-text-color:var(--danger);
    --cus-primary-btn-background:var(--primary);
}