<div class="dashboard-header">
    <div class="container-fluid">
        <div class="md:flex m-none t-pl-2">
            <div class="md:w-full">
                <div class="">
                    <div class="overflow-hidden">
                        <div class="md:flex">
                            <div class="w-full flex items-center justify-between">
                                <div class="relative w-full"> <i
                                        class="absolute fa fa-search top-5 white-icon-color left-4 cursor-pointer"></i>
                                    <!-- <input type="text" style="padding-left: 43px;" placeholder="Search Something..."
                                        class=" w-full px-12 search-input-style" name="" />  -->
                                        <span
                                        class="absolute top-4 right-5  pl-4"><i
                                            class="far fa-bell white-icon-color font-size-18 cursor-pointer"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>