<div class="container-fluid mt-5">
    <div class="md:flex pt-3 fixed-style">
        <div class="md:w-full flex justify-between">
            <h1 class="font-size-24 heading-title-text-color font-bold mb-0 tracking-normal">
                <i class="fa fa-download section-menu-icon"></i>
                Download Application
            </h1>
        </div>
    </div>
    <div class="">
        <div class="lg:flex mt-5">
            <div class="lg:w-1/2 md:w-full workers-banner-new p-4 m-mb-2  ml-3 mr-3" style="overflow: hidden;">
                <!-- <div class="md:flex">
                    <div class="md:w-full">
                        <p class="font-size-18 tracking-normal font-bold heading-title-text-color">
                            Windows
                        </p>
                    </div>

                </div> -->
                <div class="md:w-full ">
                    <img class="app-img" src="../../../assets/img/window.png" />
                </div>
                <div class="md:w-full md:mt-2 text-center">
                    <button type="button"
                        class="primary-btn font-size-15 primary-btn-text-color font-medium tracking-normal text-center w-1/2" (click)="downloadLink()">Download
                        for Windows</button>
                </div>
            </div>

            <div class="lg:w-1/2 md:w-full workers-banner-new p-4 m-mb-2  ml-3 mr-3" style="overflow: hidden; display: none;" >
                <div class="md:flex">
                    <div class="md:w-full">
                        <p class="font-size-18 tracking-normal font-bold heading-title-text-color">
                            Mac
                        </p>
                    </div>
                </div>
                <div class="md:w-full">
                    <img class="app-img" src="../../../assets/img/mac.png" />
                </div>
                <div class="md:w-full md:mt-2 text-center">
                    <button type="button"
                        class="primary-btn font-size-15 primary-btn-text-color font-medium tracking-normal text-center w-1/2" (click)="downloadLink()">Download
                        for Mac</button>
                </div>
            </div>

        </div>
    </div>
</div>