<div class="container-fluid">
    <app-statistics></app-statistics>

    <section class="pt-5">
        <div class="md:flex">
            <div class="md:w-full">
                <div class="project-banner">
                    <div class="pt-4">
                        <app-tabs></app-tabs>

                        <section aria-labelledby="tab8-label">
                            <div class="text-right" style="margin-right: 10px;">
                                <div>
                                    <button (click)="htmlClientEmailModal.show()" style="cursor: pointer;"
                                        class="mt-3 new-project-btn primary-btn font-size-16 primary-btn-text-color font-medium tracking-normal text-center">
                                        Add Client
                                    </button>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="mt-4 lg:flex">
                                    <div class="md:w-full">
                                        <div class="worker-table mt-3" *ngIf="ClientList && ClientList.length>0">
                                            <table class="worker-data" style="WIDTH: 100%;">
                                                <tr>
                                                    <th class="text-left">Email</th>
                                                    <th class="text-left">Action</th>
                                                </tr>

                                                <tr *ngFor="let Client of ClientList">

                                                    <td>
                                                        <span class="font-medium heading-title-text-color font-size-14">
                                                            {{Client.inviteClient}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span (click)="DeleteClient(Client.id)"
                                                            class="font-medium heading-title-text-color font-size-14 delete-btn">
                                                            <i class="fas fa-trash"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div style="text-align:center;" class="worker-table mt-3"
                                            *ngIf="ClientList == null">
                                            <span><b>No record (s) to show !</b></span>
                                        </div>

                                        <div style="text-align:center;" class="worker-table mt-3"
                                            *ngIf="ClientList != null && ClientList.length==0">
                                            <span><b>No record (s) to show !</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!--Model Start for Add new milestone Here-->
<div bsModal [config]="{backdrop: 'static',  keyboard: false}" class="modal fade" #htmlClientEmailModal="bs-modal"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-toggle="modal"
    data-target="#exampleModalScrollable">
    <div class="modal-dialog modal-lg mt-5 md:mt-5" role="document">
        <div class="modal-content">

            <form [formGroup]="ClientEmailForm" method="post" class="form-horizontal">

                <div class="modal-header">
                    <h4 class="modal-title"><b>Email</b></h4>
                    <button type="button" class="close" (click)="htmlClientEmailModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                
                <div class="modal-body">

                    <div class="col-md-6 mt-2">
                        <p>Enter email :<span class="help-block">*</span></p>
                        <input type="text" placeholder="Enter email" formControlName="email" name="email"
                            class="input-form-control" />
                        <p class="error-text" *ngIf="submitAttempt && ClientEmailForm.controls.email.errors?.required">
                            Email is required </p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                        class="primary-btn font-size-18 primary-btn-text-color font-medium tracking-normal text-center"
                        (click)="htmlClientEmailModal.hide()" aria-label="Close">Cancel</button>
                    <button type="button" (click)="AddNewClientToProject()"
                        class="primary-btn font-size-18 primary-btn-text-color font-medium tracking-normal text-center">Submit</button>

                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal ends here -->

<app-chat-room></app-chat-room>