@import "../../../assets/scss/comman.scss";
@import "../../../assets/scss/media.scss";
@import "../../../assets/scss/utilize.scss";
@import "../../../assets/scss/variable.scss";
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.workers-banner-new {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    // height: calc(100vh - 240px);
    border-radius: 10px 10px 0px 0px;
    // overflow: scroll;
    overflow-x: hidden;
    width: 450px;
    border: 1px;
}
.app-img {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
}



.worker-banner-task {
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 16%);
    border-radius: 10px 10px 10px 10px;
}
.status-tag {
    font-size: 10px;
    border-radius: 4px;
    width: fit-content;
    font-weight: bold;
    color: white;
    padding: 2px 5px;
    text-align: center;
    margin-bottom: 2px;
}
.danger-chip {
    background: #ca1717;
}
.suceess-chip {
    background: #12a012;
}
.warning-chip {
    background: #14148b;
}
.inprogress-chip {
    background: #a408a4;
}
.planning-chip {
    background: #ea8496;
}
.risk-chip {
    background: #f25e28;
}
.upnext-chip {
    background: #b3b307ab;
}
.tips-chip {
    background: #56abce;
}
.another-card {
    padding: 5px 0px;
    color: grey;
}
.fa-align-left,
.fa-paperclip {
    color: grey;
}
.description-label {
    font-size: 14px;
    color: #737373;
}
.profile-img {
    height: 30px;
    width: 30px;
    margin-top: -8px;
    border-radius: 50%;
    margin-right: 5px;
}

.fade:not(.in) {
    opacity: 0;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    padding: 0px 12px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    padding-top: 2%;
}

.fade {
    transition: opacity 0.15s linear;
    background: rgba(0, 0, 0, 0.4);
    opacity: 2;
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
}

.modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.modal-lg,
.modal-xl {
    // max-width: 800px;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
    margin-top: 6.25rem !important;
}

.modal-dialog {
    // max-width: 500px;
    margin: 1.75rem auto;
    margin-top: 6.25rem !important;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #c8ced3;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    overflow: hidden;
    height: 78vh;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #c8ced3;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
.task-data,
.info-section {
    overflow: auto;
    height: 75vh;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem -1rem;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.close {
    float: right;
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #181b1e;
    border-color: #121517;
}

.modal-footer > :not(:last-child) {
    margin-right: 0.25rem;
}

.btn-dark:hover {
    color: #fff;
    background-color: #1e2225;
    border-color: #181b1e;
}

.btn:hover {
    text-decoration: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #23282c;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.modal-footer > :not(:first-child) {
    margin-left: 0.25rem;
}

.btn-dark {
    color: #fff;
    background-color: #2f353a;
    border-color: #2f353a;
}

.btn-secondary {
    color: #23282c;
    background-color: #c8ced3;
    border-color: #c8ced3;
}

.btn-primary {
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
}

.modal-footer > :not(:last-child) {
    margin-right: 0.25rem;
}
.view-details-btn1 {
    min-width: auto;
    min-height: auto;
    margin-right: 8px;
}
.container {
    font-size: 0;
    border-radius: 3px;
    overflow: hidden;
    input[type="radio"] {
        display: none;
        &:checked + label {
            background: rgb(80, 95, 121);
            color: white;
        }
    }
    .tab {
        background: #8080802b;
    }
    label {
        border-radius: 8px;
        display: inline-block;
        font-size: 15px;
        height: 32px;
        line-height: 30px;
        width: 12%;
        text-align: center;
        color: #555;
        position: relative;
        transition: 0.25s background ease;
        cursor: pointer;
        margin-right: 5px;
        &::after {
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            transition: 0.25s ease;
        }
    }
    .line {
        position: absolute;
        height: 2px;
        width: 25%;
        top: 34px;
        left: 0;
        transition: 0.25s ease;
    }
    .content-container {
        position: relative;
        // height: 200px;
        font-size: 16px;
        .content {
            padding: 10px 10px 10px 0px;
            width: 100%;
            top: 0;
            display: none;
            transition: 0.25s ease;
            color: #333;
            h3 {
                font-weight: 200;
                margin: 10px 0;
            }
            p {
                margin: 10px 0;
            }
            p,
            i {
                font-size: 13px;
            }
        }
    }
}
.comment-profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-profile-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.user-span {
    margin: 9px 0px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
}
.comment-label {
    width: auto !important;
    padding: 0px 50px !important;
    text-align: left !important;
}
.action-span {
    padding-left: 50px;
    a {
        margin-right: 8px;
        font-weight: 600;
        color: grey;
        font-size: 14px;
        cursor: pointer;
    }
}
.activity-type {
    background: #8080808f;
    font-weight: 700;
    padding: 1px 5px;
    border-radius: 4px;
    height: fit-content;
}
.collapsible {
    cursor: pointer;
    padding: 10px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: 1px solid #80808054;
}

.content1 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border: 1px solid #80808054;
}
.info-section {
    padding: 12px 0px 0px 8px;
}
.select-dropdown-design-status {
    width: auto;
    padding: 5px;
    min-height: auto;
    margin-bottom: 5px;
    background: #cbc9c9e0;
    border-radius: 5px;
}
.select-dropdown-design-status option {
    background: white;
    color: black !important;
}
@media screen and (max-width: 768px) {
    .container label {
        width: 30%;
    }
    .comment-label {
        width: auto !important;
        padding: 0px 46px !important;
    }
    .main-content-banner {
        width: 100% !important;
    }
    .workers-banner-new {
        width: 100%;
    }
    .description-label {
        font-size: 14px;
        color: #737373;
        word-break: break-all;
    }
    .fa-align-left,
    .fa-paperclip {
        color: grey;
        line-height: 45px;
    }
    .profile-img {
        height: 30px;
        width: 30px;
        margin-top: 0px;
        border-radius: 50%;
        margin-right: 5px;
    }
    .modal-body {
        overflow: scroll;
    }
    .task-data,
    .info-section {
        overflow: auto;
        height: auto;
    }
}
.info-section button:before {
    font-family: "FontAwesome";
    content: "\f078";
    float: right;
    transition: all 0.5s;
}
.info-section button.active:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.high {
    background-color: #ca1717;
    color: white;
}
.medium {
    background-color: #f25e28;
    color: white;
}
.low {
    background-color: #b3b307ab;
    color: white;
}
td {
    font-size: 12px;
}
.frYJtX {
    font-size: 15px;
    font-weight: 600;
}
.input-form-control {
    border: 1px solid var(--input-border-color);
    width: 100%;
    padding: 0.375rem 0.75rem;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
.user-span-comment {
    font-weight: 600;
}
.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #4400cc;
    padding: 10px;
    /* width: 100%; */
    margin-left: -15px;
    margin-right: -15px;
}
.error-text {
    color: red;
}
.active {
    display: block !important;
}
.fa-attach {
    width: 11%;
    background: #eaeaea;
    color: #000000b5;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
}
.fa-attch-clip {
    font-size: 15px;
}
.select-dropdown-design-worker {
    width: 100%;
    padding: 5px;
    min-height: auto;
    margin-bottom: 5px;
    /* background: #cbc9c9e0; */
    border-radius: 5px;
    border: 1px solid #cbc9c9e0;
}
:host ::ng-deep .dropdown-list {
    position: inherit !important;
    padding-top: 0px !important;
    width: 100%;
    z-index: 9999;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    margin-top: 0px !important;
    box-shadow: 0 1px 5px #959595;
}
ng-multiselect-dropdown {
    width: 100% !important;
}
label a {
    color: #14148b;
    font-size: 15px;
    font-weight: 600;
}
.date-p{
    width: 28%;
}