<div class="full-page-background">

    <form novalidate [formGroup]="changeForm" >
        <div class="md:container md:mx-auto">
            <div class="flex items-center justify-center center-box">
                <div class="login-box p-12">
                    <p class="font-medium font-size-24 tracking-normal heading-title-text-color">
                        Hello! Welcome to Honest Work
                    </p>
                    <p class="heading-title-text-color font-size-18 tracking-normal font-normal">
                        Please set a new password to continue.
                    </p>
                    <div class="form pt-8">                       
                        
                        <div>
                            <div class="pt-6">
                                <div class="relative flex w-full flex-wrap items-stretch">
                                    <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                        New Password 
                                    </p>
                                    <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
                                        class="block input-form-control" placeholder="New Password*" id="newPassword" (input)="checkPassword()" />
                                    <div>
                                        <span (click)="toggleShowNewPassword()"
                                            class="z-10 h-full leading-snug font-normal absolute text-center absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3"><i
                                                [class]="showNewPassword ? 'far fa-fw fa-eye toggle-password' : 'far fa-fw fa-eye-slash toggle-password'"></i></span>
                                    </div>
                                    <p class="error-text"
                                        *ngIf="registerSubmitted && changeForm.controls.newPassword.errors?.required">
                                        New Password is required
                                    </p>
                                    <div  *ngIf="changeForm.controls.newPassword.value"
                                    [ngClass]="{'password-short': passwordStrength == 'Too short' || passwordStrength == 'Weak','password-good': passwordStrength == 'Good','password-strong': passwordStrength == 'Strong'}">
                                    Your password is {{passwordStrength}}</div>
                                    <div class="error-text" *ngIf="showRegexError">{{errorMsg}}</div>
       
                                    <p class="error-text"
                                        *ngIf="registerSubmitted && changeForm.controls.newPassword.errors?.pattern">
                                        Password must contain at least 6 characters long with 1 uppercase , 1 lowercase and
                                        1
                                        special character.
                                    </p>  
                                </div>
                            </div>
                            <div class="pt-6">
                                <div class="relative flex w-full flex-wrap items-stretch">
                                    <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                        Confirm Password
                                    </p>
                                    <input [type]="showConformPassword ? 'text' : 'password'"
                                        formControlName="confirmPassword" class="block input-form-control"
                                        id="confirmPassword" placeholder="Confirm Password*" />
                                    <div>
                                        <span
                                            class="z-10 h-full leading-snug font-normal absolute text-center absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3"
                                            (click)="toggleShowConfirmPassword()"><i
                                                [class]="showConformPassword ? 'far fa-fw fa-eye toggle-password' : 'far fa-fw fa-eye-slash toggle-password'"></i></span>
                                    </div>
                                    <p class="error-text"
                                        *ngIf="registerSubmitted && changeForm.controls.confirmPassword.errors?.required">
                                        Confirm Password is required
                                    </p>
                                    <p class="error-text"
                                        *ngIf="registerSubmitted && changeForm.controls.confirmPassword.errors?.mustMatch">
                                        Passwords must match
                                    </p>
                                </div>
                            </div>
                            <div class="create-account-btn pt-10">
                                <button class="large-btn-style text-center create-account-btn-style" type="button" (click)="setNewPassword();">
                                    Reset Password
                                </button>
                            </div>
    
                        </div>
                    </div>
                   
                </div>

            </div>
        </div>
    </form>
</div>  