@import '../../../../assets/scss/comman.scss';
@import '../../../../assets/scss/media.scss';
@import '../../../../assets/scss/utilize.scss';
@import '../../../../assets/scss/variable.scss';

.workers-banner-new {
    background-color: var(--white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    height: calc(100vh - 240px);
    border-radius: 10px 10px 0px 0px;
    overflow: scroll;
    overflow-x: hidden;
}

.new-table {
    max-width: calc(100vw - 312px);
    overflow: auto;
    height: calc(100vh - 500px) !important;
}
.new-table .new-table-data th, .new-table .new-table-data td {
    // min-width: 115px;
    padding: .75rem;
    // min-width: 250px;
    // border-right: 1px solid var(--table-border);
    border-bottom: 1px solid var(--table-border);
}
.new-table-data th:nth-child(1) {
    min-width: 200px;
}
.new-table-data th:nth-child(2) {
    min-width: 150px;
}
.new-table-data th:nth-child(3) {
    min-width: 100px;
}
.new-table-data th:nth-child(4) {
    min-width: 100px;
}


.worker-table {
   //  max-width: calc(100vw - 312px);
    overflow: auto;
    height: calc(100vh - 335px);
}
.worker-table .worker-data th, .worker-table .worker-data td {
    // min-width: 115px;
    padding: .75rem;
    // min-width: 250px;
    // border-right: 1px solid var(--table-border);
    border-bottom: 1px solid var(--table-border);
}
.worker-table-height tr {
    border-bottom: 1px solid var(--table-border);
}
.worker-data th:nth-child(1) {
    min-width: 210px;
}
.worker-data th:nth-child(2) {
    min-width: 150px;
}
.worker-data th:nth-child(3) {
    min-width: 120px;
}
.worker-data th:nth-child(4) {
    min-width: 50px;
}

@media (min-width:120px) and (max-width:767px) {
    .worker-data th:nth-child(1) {
        min-width: 250px;
    }
    .worker-data th:nth-child(2) {
        min-width: 150px;
    }
    .worker-data th:nth-child(3) {
        min-width: 100px;
    }
    .worker-data th:nth-child(4) {
        min-width: 100px;
    }
    
}


 .primary-btn {
    background-color: var(--primary-btn-backgound-color);
    padding: 8px 15px;
    border-radius: var(--border-radius-normal);
 }
 
.workers-banner-new {
   background-color: var(--white);
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
   height: calc(100vh - 240px);
   border-radius: 10px 10px 0px 0px;
   overflow: scroll;
   overflow-x: hidden;
}

.new-table {
   max-width: calc(100vw - 312px);
   overflow: auto;
   height: calc(100vh - 500px) !important;
}
.new-table .new-table-data th, .new-table .new-table-data td {
   // min-width: 115px;
   padding: .75rem;
   // min-width: 250px;
   // border-right: 1px solid var(--table-border);
   border-bottom: 1px solid var(--table-border);
}
.new-table-data th:nth-child(1) {
   min-width: 200px;
}
.new-table-data th:nth-child(2) {
   min-width: 150px;
}
.new-table-data th:nth-child(3) {
   min-width: 100px;
}
.new-table-data th:nth-child(4) {
   min-width: 100px;
}


.worker-table {
   // max-width: calc(100vw - 312px);
   overflow: auto;
   height: calc(100vh - 335px);
}
.worker-table .worker-data th, .worker-table .worker-data td {
   // min-width: 115px;
   padding: .75rem;
   // min-width: 250px;
   // border-right: 1px solid var(--table-border);
   border-bottom: 1px solid var(--table-border);
}
.worker-table-height tr {
   border-bottom: 1px solid var(--table-border);
}
.worker-data th:nth-child(1) {
   min-width: 210px;
}
.worker-data th:nth-child(2) {
   min-width: 150px;
}
.worker-data th:nth-child(3) {
   min-width: 120px;
}
.worker-data th:nth-child(4) {
   min-width: 50px;
}

@media (min-width:120px) and (max-width:767px) {
   .worker-data th:nth-child(1) {
       min-width: 250px;
   }
   .worker-data th:nth-child(2) {
       min-width: 150px;
   }
   .worker-data th:nth-child(3) {
       min-width: 100px;
   }
   .worker-data th:nth-child(4) {
       min-width: 100px;
   }
   
}
@media (min-width: 68em) {
   .s-layout__content {
      margin-left: 15em;
   }

   /* Sidebar */
   .s-sidebar__trigger {
      display: none;
   }

   .s-sidebar__nav {
      width: 15em;
   }

   .s-sidebar__nav ul {
      top: 0.3em;
   }
}

.fade:not(.in) {
   opacity: 0;
}

.modal-open .modal {
   overflow-x: hidden;
   overflow-y: auto;
}
.modal {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1050;
   display: none;
   width: 100%;
   height: 100%;
   overflow: hidden;
   outline: 0;
   padding-top: 2%;
}

 .fade {
    transition: opacity .15s linear;
    background: rgba(0,0,0,.4);
    opacity: 2;
 }

.modal.show .modal-dialog {
   -webkit-transform: none;
   transform: none;
}

.modal.fade .modal-dialog {
   transition: -webkit-transform .3s ease-out;
   transition: transform .3s ease-out;
   transition: transform .3s ease-out,-webkit-transform .3s ease-out;
   -webkit-transform: translate(0,-50px);
   transform: translate(0,-50px);
}

.modal.fade .modal-dialog {
   transition: -webkit-transform .3s ease-out;
   transition: transform .3s ease-out;
   transition: transform .3s ease-out,-webkit-transform .3s ease-out;
   transition: transform .3s ease-out,-webkit-transform .3s ease-out;
}


.modal-lg, .modal-xl {
   max-width: 800px;
}

.modal-dialog {
   position: relative;
   width: auto;
   margin: .5rem;
   pointer-events: none;
   margin-top: 6.25rem !important;
}

.modal-dialog {
   max-width: 500px;
   margin: 1.75rem auto;
   margin-top: 6.25rem !important;
}


.modal-content {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 100%;
   pointer-events: auto;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid rgba(0,0,0,.2);
   border-radius: .3rem;
   outline: 0;
}

.modal-header {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   padding: 1rem;
   border-bottom: 1px solid #c8ced3;
   border-top-left-radius: .3rem;
   border-top-right-radius: .3rem;
}

.modal-body {
   position: relative;
   flex: 1 1 auto;
   padding: 1rem;
}

.modal-footer {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 1rem;
   border-top: 1px solid #c8ced3;
   border-bottom-right-radius: .3rem;
   border-bottom-left-radius: .3rem;
}

.modal-title {
   margin-bottom: 0;
   line-height: 1.5;
}

.modal-header .close {
   padding: 1rem;
   margin: -1rem -1rem -1rem auto;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
   cursor: pointer;
}

button.close {
   padding: 0;
   background-color: transparent;
   border: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.close {
   float: right;
   font-size: 1.3125rem;
   font-weight: 700;
   line-height: 1;
   color: #000;
   text-shadow: 0 1px 0 #fff;
   opacity: .5;
}

.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle {
   color: #fff;
   background-color: #181b1e;
   border-color: #121517;
}

.modal-footer>:not(:last-child) {
   margin-right: .25rem;
}

.btn-dark:hover {
   color: #fff;
   background-color: #1e2225;
   border-color: #181b1e;
}

.btn:hover {
   
   text-decoration: none;
}

.btn {
   display: inline-block;
   font-weight: 400;
   color: #23282c;
   text-align: center;
   vertical-align: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background-color: transparent;
   border: 1px solid transparent;
   padding: .375rem .75rem;
   font-size: .875rem;
   line-height: 1.5;
   border-radius: .25rem;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal-footer>:not(:first-child) {
   margin-left: .25rem;
}

.btn-dark {
   color: #fff;
   background-color: #2f353a;
   border-color: #2f353a;
}

.btn-secondary {
   color: #23282c;
   background-color: #c8ced3;
   border-color: #c8ced3;
}

.btn-primary {
   color: #fff;
   background-color: #20a8d8;
   border-color: #20a8d8;
}

.modal-footer>:not(:last-child) {
   margin-right: .25rem;
}

  .help-block{
    color: red;
 }

.mt-2{
   margin-top: 10px;
}