@import "../../../assets/scss/comman.scss";
@import "../../../assets/scss/media.scss";
@import "../../../assets/scss/utilize.scss";
@import "../../../assets/scss/variable.scss";

.account-banner {
    background-color: var(--white);
    box-shadow: 0px 0px 10px #00000029;
    min-height: calc(100vh - 170px);
    border-radius: 10px 10px 0px 0px;

    .account-page {
        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    }
}

.error-text {
    color: red;
}

.image {
    position: relative;
}

.image {
    display: initial;
}

.fa-plus-circle {
    margin-top: 20px;
    margin-left: -50px;
    /* margin-right: 22px; */
    /* bottom: 0; */
    /* left: 0; */
    z-index: 1;
    color: #330099;
    font-size: 25px;
}

@media (max-width: 635px) {
    .fa-plus-circle {
        margin-left: -44px;
    }
}

input,
label {
    display: block;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    margin: 40px 365px 5px 0;
}

.form-inline input[type='text'],
.form-inline input[type='email'],
.form-inline input[type='number'],
.form-inline input[type='password'] {
    vertical-align: middle;
    margin: 5px 100px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 375px;
}


@media (max-width: 800px) {
    .form-inline input {
        margin: 5px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

.row {
    display: flex;
}

.column {
    padding: 10px;
    height: 250px;
}

.custom-file-input {
    color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Select Display Picture';
    color: #fff;
    display: inline-block;
    background: -webkit-linear-gradient(top, #d1cbcb, var(--large-btn-color));
    border: 1px solid var(--large-btn-color);
    border-radius: 3px;
    padding: 130px 49px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active {
    outline: 0;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}