@import '../../../../assets/scss/comman.scss';
@import '../../../../assets/scss/media.scss';
@import '../../../../assets/scss/utilize.scss';
@import '../../../../assets/scss/variable.scss';

// button.swal2-confirm.swal2-styled {
//     font-size: 0.85em !important;
// }
.select-dropdown-design{
    min-height: 40px !important;
}

.input-form-control {
    height: 40px !important;
}

.name-btn-style{
    background: #dcd8d8;
        padding: 6px;
        color: red;
        border-radius: 4px;
    }

    .main-border-box{
        border: 1px solid #adadad;border-radius: 6px; padding: 9px;
    }

    .inner-box{
        border-left: 1px solid #adadad;
      //   border-right: 1px solid #adadad;
    }
    .primary-btn {
        background-color: var(--primary-btn-backgound-color);
        padding: 8px 15px;
        border-radius: var(--border-radius-normal);
    }

   

.workers-banner-new {
    background-color: var(--white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    height: calc(100vh - 240px);
    border-radius: 10px 10px 0px 0px;
    overflow: scroll;
    overflow-x: hidden;
}

.new-table {
    max-width: calc(100vw - 312px);
    overflow: auto;
    height: calc(100vh - 500px) !important;
}
.new-table .new-table-data th, .new-table .new-table-data td {
    // min-width: 115px;
    padding: .75rem;
    // min-width: 250px;
    // border-right: 1px solid var(--table-border);
    border-bottom: 1px solid var(--table-border);
}
.new-table-data th:nth-child(1) {
    min-width: 200px;
}
.new-table-data th:nth-child(2) {
    min-width: 150px;
}
.new-table-data th:nth-child(3) {
    min-width: 100px;
}
.new-table-data th:nth-child(4) {
    min-width: 100px;
}


.worker-table {
    max-width: calc(100vw - 312px);
    overflow: auto;
    height: calc(100vh - 335px);
}
.worker-table .worker-data th, .worker-table .worker-data td {
    // min-width: 115px;
    padding: .75rem;
    // min-width: 250px;
    // border-right: 1px solid var(--table-border);
    border-bottom: 1px solid var(--table-border);
}
.worker-table-height tr {
    border-bottom: 1px solid var(--table-border);
}
.worker-data th:nth-child(1) {
    min-width: 210px;
}
.worker-data th:nth-child(2) {
    min-width: 150px;
}
.worker-data th:nth-child(3) {
    min-width: 120px;
}
.worker-data th:nth-child(4) {
    min-width: 50px;
}

@media (min-width:120px) and (max-width:767px) {
    .worker-data th:nth-child(1) {
        min-width: 250px;
    }
    .worker-data th:nth-child(2) {
        min-width: 150px;
    }
    .worker-data th:nth-child(3) {
        min-width: 100px;
    }
    .worker-data th:nth-child(4) {
        min-width: 100px;
    }
    
}
@media (min-width: 68em) {
    .s-layout__content {
       margin-left: 15em;
    }
 
    /* Sidebar */
    .s-sidebar__trigger {
       display: none;
    }
 
    .s-sidebar__nav {
       width: 15em;
    }
 
    .s-sidebar__nav ul {
       top: 0.3em;
    }
 }
 
 .fade:not(.in) {
    opacity: 0;
 }
 
 .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
 }
 .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    padding-top: 2%;
 }
 
 .fade {
    transition: opacity .15s linear;
    background: rgba(0,0,0,.4);
    opacity: 2; 
 }
 
 .modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
 }
 
 .modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
 }
 
 .modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
 }
 
 
 .modal-lg, .modal-xl {
    max-width: 800px;
 }
 
 .modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
    margin-top: 6.25rem !important;
 }
 
 .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
    margin-top: 6.25rem !important;
 }
 
 
 .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
 }
 
 .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #c8ced3;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
 }
 
 .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
 }
 
 .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #c8ced3;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
 }
 
 .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
 }
 
 .modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
 }
 
 [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
 }
 
 button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 }
 
 .close {
    float: right;
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
 }
 
 .btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #181b1e;
    border-color: #121517;
 }
 
 .modal-footer>:not(:last-child) {
    margin-right: .25rem;
 }
 
 .btn-dark:hover {
    color: #fff;
    background-color: #1e2225;
    border-color: #181b1e;
 }
 
 .btn:hover {
    
    text-decoration: none;
 }
 
 .btn {
    display: inline-block;
    font-weight: 400;
    color: #23282c;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }
 
 .modal-footer>:not(:first-child) {
    margin-left: .25rem;
 }
 
 .btn-dark {
    color: #fff;
    background-color: #2f353a;
    border-color: #2f353a;
 }
 
 .btn-secondary {
    color: #23282c;
    background-color: #c8ced3;
    border-color: #c8ced3;
 }
 
 .btn-primary {
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
 }
 
 .modal-footer>:not(:last-child) {
    margin-right: .25rem;
 }
 
  .help-block{
    color: red;
 }

 .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
 }
 
 .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #20a8d8;
    background-color: #fff;
    border: 1px solid #c8ced3;
 }
 
 .page-item.disabled .page-link {
    color: #73818f;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #c8ced3;
 }
 
 .page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
 }
 
 .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
 }
 
 a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
 }
 
 .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color:#440acc;
    border-color: #440acc;
 }
 
  ////Bootstrape css

  .bg-success {
   background-color: #dff0d8
}
@media (min-width:992px) {
   .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
       float: left
   }

   .col-md-12 {
       width: 100%
   }

   .col-md-11 {
       width: 91.66666667%
   }

   .col-md-10 {
       width: 83.33333333%
   }

   .col-md-9 {
       width: 75%
   }

   .col-md-8 {
       width: 66.66666667%
   }

   .col-md-7 {
       width: 58.33333333%
   }

   .col-md-6 {
       width: 50%
   }

   .col-md-5 {
       width: 41.66666667%
   }

   .col-md-4 {
       width: 33.33333333%
   }

   .col-md-3 {
       width: 25%
   }

   .col-md-2 {
       width: 16.66666667%
   }

   .col-md-1 {
       width: 8.33333333%
   }

   .col-md-pull-12 {
       right: 100%
   }

   .col-md-pull-11 {
       right: 91.66666667%
   }

   .col-md-pull-10 {
       right: 83.33333333%
   }

   .col-md-pull-9 {
       right: 75%
   }

   .col-md-pull-8 {
       right: 66.66666667%
   }

   .col-md-pull-7 {
       right: 58.33333333%
   }

   .col-md-pull-6 {
       right: 50%
   }

   .col-md-pull-5 {
       right: 41.66666667%
   }

   .col-md-pull-4 {
       right: 33.33333333%
   }

   .col-md-pull-3 {
       right: 25%
   }

   .col-md-pull-2 {
       right: 16.66666667%
   }

   .col-md-pull-1 {
       right: 8.33333333%
   }

   .col-md-pull-0 {
       right: auto
   }

   .col-md-push-12 {
       left: 100%
   }

   .col-md-push-11 {
       left: 91.66666667%
   }

   .col-md-push-10 {
       left: 83.33333333%
   }

   .col-md-push-9 {
       left: 75%
   }

   .col-md-push-8 {
       left: 66.66666667%
   }

   .col-md-push-7 {
       left: 58.33333333%
   }

   .col-md-push-6 {
       left: 50%
   }

   .col-md-push-5 {
       left: 41.66666667%
   }

   .col-md-push-4 {
       left: 33.33333333%
   }

   .col-md-push-3 {
       left: 25%
   }

   .col-md-push-2 {
       left: 16.66666667%
   }

   .col-md-push-1 {
       left: 8.33333333%
   }

   .col-md-push-0 {
       left: auto
   }

   .col-md-offset-12 {
       margin-left: 100%
   }

   .col-md-offset-11 {
       margin-left: 91.66666667%
   }

   .col-md-offset-10 {
       margin-left: 83.33333333%
   }

   .col-md-offset-9 {
       margin-left: 75%
   }

   .col-md-offset-8 {
       margin-left: 66.66666667%
   }

   .col-md-offset-7 {
       margin-left: 58.33333333%
   }

   .col-md-offset-6 {
       margin-left: 50%
   }

   .col-md-offset-5 {
       margin-left: 41.66666667%
   }

   .col-md-offset-4 {
       margin-left: 33.33333333%
   }

   .col-md-offset-3 {
       margin-left: 25%
   }

   .col-md-offset-2 {
       margin-left: 16.66666667%
   }

   .col-md-offset-1 {
       margin-left: 8.33333333%
   }

   .col-md-offset-0 {
       margin-left: 0
   }
}
.form-label{
    font-weight: 400;
}


