<div class="container-fluid">
    <div class="md:flex pt-3 fixed-style">
        <div class="md:w-full">
            <span class="font-size-24 heading-title-text-color font-bold mb-0 tracking-normal cursor-pointer">
                Account
            </span>
        </div>
    </div>
    <form novalidate [formGroup]="accountForm">
        <div class="account-banner p-4 mt-5">
            <div class="lg:w-4/6 md:w-full">
                <div class="account-page flex">

                    <input type="file" id="file-input" name="file-input" style="display: none;" accept="image/*"
                        class="form-control-file" (change)="readUrl($event)">

                    
                        <img class="image"  [src]="url" height="200" style="margin:2%;"
                            onerror="this.onerror=null;this.src='../../../assets/img/profile.png';" width="50">
                   <label style="z-index: 1;" for="file-input"> <i style="margin-left: -44px;" class="fa fa-plus-circle"></i></label>    
                    

                    <br />
                </div>
                <div class="lg:flex">

                    <div class="lg:w-1/2 pr-2">
                        <div class="mt-5">
                            <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                First name
                            </p>
                            <input formControlName="firstName" class="block input-form-control" id="fname" name="fname"
                                type="text" placeholder="First name" />
                            <p class="error-text"
                                *ngIf="submitAttempt && accountForm.controls.firstName.errors?.required">
                                First name is required</p>
                        </div>
                        <div class="mt-3">
                            <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                Last name
                            </p>
                            <input formControlName="lastName" class="block input-form-control" id="lname" name="lname"
                                type="text" placeholder="Last name" />
                            <p class="error-text"
                                *ngIf="submitAttempt && accountForm.controls.lastName.errors?.required">
                                Last name is required</p>
                        </div>

                        <div class="mt-3">
                            <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                Email address
                            </p>
                            <input formControlName="emailId" class="block input-form-control" type="email"
                                placeholder="Enter email address..." name="emailId" disabled="disabled" />

                            <p class="error-text"
                                *ngIf="submitAttempt && accountForm.controls.emailId.errors?.required">
                                Email address is required</p>

                        </div>
                        <div class="mt-3">
                            <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                Contact number
                            </p>
                            <input formControlName="mobileNo" class="block input-form-control" id="mobileNo"
                                name="mobileNo" type="text" maxlength="10" placeholder="ex.9999999999" mask="0000000000"
                                pattern="^\d{10}$" />

                            <p class="error-text"
                                *ngIf="submitAttempt && accountForm.controls.mobileNo.errors?.required">
                                Contact number is required</p>

                            <p class="error-text"
                                *ngIf="submitAttempt && accountForm.controls.mobileNo.errors?.pattern">
                                Invalid contact number</p>

                        </div>
                        <div class="mt-3">
                            <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                Experience
                            </p>
                            <input formControlName="experience" class="block input-form-control" id="experience"
                                name="experience" type="text" placeholder="Enter experience" mask="0*.00"
                                maxlength="3" />
                            <p class="error-text"
                                *ngIf="submitAttempt && accountForm.controls.experience.errors?.required">
                                Experience is required</p>
                            <p class="error-text"
                                *ngIf="submitAttempt && accountForm.controls.experience.errors?.pattern">
                                Invalid experience</p>
                        </div>


                    </div>
                    <div class="lg:w-1/2 pl-2">
                        <div class="mt-5">
                            <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                Work type
                            </p>
                            <select id="ddlworkerType" formControlName="workerType" name="workerType"
                                class="select-dropdown-design">
                                <option>--Select work type--</option>
                                <option value="F">Full Time</option>
                                <option value="P">Part Time</option>
                            </select>
                            <p class="error-text"
                                *ngIf="submitAttempt && accountForm.controls.workerType.errors?.required">
                                Work type is required</p>
                        </div>
                        <div class="mt-3">
                            <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                Skills
                            </p>

                            <ng-multiselect-dropdown [placeholder]="'Select skills'" [settings]="dropdownSettings"
                                [data]="skillList" [(ngModel)]="selectedItems" name="skills" formControlName="skills"
                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                            <p class="error-text" *ngIf="submitAttempt && accountForm.controls.skills.errors?.required">
                                Skill is required</p>
                        </div>
                        <div class="mt-3">
                            <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                Assigned projects
                            </p>

                            <ng-multiselect-dropdown disabled="disabled" [placeholder]="'Select projects'"
                                [settings]="dropdownSettings1" [data]="projectList" [(ngModel)]="selectedItems1"
                                name="project" formControlName="project" (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>

                        </div>
                        <div class="mt-3">
                            <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                Public hourly rate
                            </p>
                            <!-- <select formControlName="publicHourlyRate" name="publicHourlyRate"  class="select-dropdown-design">
                                <option value="">--Select rate--</option>
                                <option *ngFor="let rate of  hourlyRatesList" value="{{rate.id}}" >{{rate.name}}</option>
                                
                            </select> -->
                            <input type="text" formControlName="publicHourlyRate" name="publicHourlyRate"
                                class="block input-form-control" placeholder="Enter public hourly rate" maxlength="3"
                                required mask="0*.00" maxlength="11" />
                            <p class="error-text"
                                *ngIf="submitAttempt && accountForm.controls.publicHourlyRate.errors?.required">
                                Public hourly rate is required</p>
                            <p class="error-text"
                                *ngIf="submitAttempt && accountForm.controls.publicHourlyRate.errors?.pattern">
                                Invalid public hourly rate</p>
                        </div>
                        <div class="mt-3">
                            <p class="font-size-14 mb-2 tracking-normal font-bold input-label-color">
                                Private hourly rate
                            </p>
                            <!-- <select name="privateHourlyRate" formControlName="privateHourlyRate"  class="select-dropdown-design">
                                <option value="">--Select rate--</option>
                                <option *ngFor="let rate of  hourlyRatesList" value="{{rate.id}}" >{{rate.name}}</option>                                                             
                            </select>-->
                            <input type="text" formControlName="privateHourlyRate" name="privateHourlyRate"
                                class="block input-form-control" placeholder="Enter private hourly rate" maxlength="3"
                                mask="0*.00" maxlength="11" required />
                            <p class="error-text"
                                *ngIf="submitAttempt && accountForm.controls.privateHourlyRate.errors?.required">
                                Private hourly rate is required</p>
                            <p class="error-text"
                                *ngIf="submitAttempt && accountForm.controls.privateHourlyRate.errors?.pattern">
                                Invalid public hourly rate</p>
                        </div>

                    </div>

                </div>
                <div class="mt-5 flex items-center">
                    <!-- <button
                        class="view-details-btn1 link-text-color font-size-18 tracking-normal font-medium text-center">
                        Cancel
                    </button> -->
                    <button (click)="updateProfile()"
                        style="padding: 0px 0px; background: #4400cc; border-color: #4400cc; color: #fff;"
                        class="view-details-btn1 link-text-color font-size-18 tracking-normal font-medium text-center ml-4">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>