<div class="container-fluid">
    <div class="md:flex pt-3 fixed-style">
        <div class="md:w-full flex justify-between">
            <span class="font-size-24 heading-title-text-color font-bold mb-0 tracking-normal cursor-pointer">
                <i class="fa fa-tag section-menu-icon"></i>
                Task Tag
            </span>
            <div class="text-right" style="margin-right: 10px;">
                <!-- <div> -->
                <button style="cursor: pointer;" (click)="htmlModal.show();openModal()"
                    class="new-project-btn primary-btn font-size-18 primary-btn-text-color font-medium tracking-normal text-center">
                    Add Task Tag
                </button>
            </div>
            <!-- </div> -->
        </div>
    </div>

    <div class="col-md-12">

        <hr class="mt-2" />
        <div class="p-4">
            <div class="mt-4 lg:flex">
                <div class="md:w-full">
                    <!--Muskaan commneted start -->
                    <!-- <div class="worker-table mt-3" *ngIf="tagList && tagList.length>0">
                        <table class="worker-data" style="WIDTH: 100%;">
                            <tr>
                                <th class="text-left">Tag name</th>
                                <th class="text-left">Tag color</th>
                                <th class="text-left">Action</th>
                            </tr>
                            <tr *ngFor="let tag of tagList">
                                <td>{{tag.tagName}}</td>
                                <td>{{tag.tagColor}}</td>
                                <td>
                                    <button  (click)="editTag(tag)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    |
                                    <button class="ml-1 help-block" (click)="DeleteTag(tag .id)" >
                                    <i class="fas fa-trash" style="color:black;"></i>
                                </button> 
                               
                                </td>
                            </tr>
                            
                        </table>
                        <div class="col-md-12 mb-4 flex ml-2" *ngIf="tagList.length>20">
                            <div class="lg:flex-full mt-4">
                                <div class="md:flex">
                                    <div *ngIf="pager!=null">
                                        <ul *ngIf="pager.pages && pager?.pages?.length"
                                            class="mb-5 pagination-prev page-item pagination">
                                            <li [ngClass]="{disabled:pager.currentPage === 1}"
                                                class="pagination-first page-item">
                                                <a class="page-link" style="cursor: pointer;"
                                                    *ngIf="pager.currentPage > 1"
                                                    (click)="GetTaskTagByAgency(1)">First</a>
                                                <a class="page-link"
                                                    *ngIf="pager.currentPage === 1">First</a>
                                            </li>
                                            <li [ngClass]="{disabled:pager.currentPage === 1}"
                                                class="pagination-prev page-item">
                                                <a class="page-link" style="cursor: pointer;"
                                                    *ngIf="pager.currentPage > 1"
                                                    (click)="GetTaskTagByAgency(pager.currentPage - 1)">Previous</a>
                                                <a class="page-link"
                                                    *ngIf="pager.currentPage === 1">Previous</a>
                                            </li>
                                            <li *ngFor="let page of pager.pages"
                                                [ngClass]="{active:pager.currentPage === page}"
                                                class="pagination-page page-item">
                                                <a class="page-link" style="cursor: pointer;"
                                                    (click)="GetTaskTagByAgency(page)">{{page}}</a>
                                            </li>
                                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
                                                class="pagination-next page-item">
                                                <a class="page-link" style="cursor: pointer;"
                                                    *ngIf="pager.totalPages > pager.currentPage"
                                                    (click)="GetTaskTagByAgency(pager.currentPage + 1)">Next</a>
                                                <a class="page-link"
                                                    *ngIf="pager.currentPage === pager.totalPages">Next</a>
                                            </li>
                                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
                                                class="pagination-last page-item">
                                                <a class="page-link" style="cursor: pointer;"
                                                    *ngIf="pager.totalPages > pager.currentPage"
                                                    (click)="GetTaskTagByAgency(pager.totalPages)">Last</a>
                                                <a class="page-link"
                                                    *ngIf="pager.currentPage === pager.totalPages">Last</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!--Muskaan commneted end -->

                    <div class="center text-center">
                        <table border="2" class="table">
                            <thead>
                                <tr class="table-head">
                                    <th class="table-data text-left">Tag name</th>
                                    <th class="table-data text-left">Tag color</th>
                                    <th class="table-data text-left">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tag of tagList">
                                    <td class="table-data text-left">{{tag.tagName}}</td>
                                    <td class="table-data text-left">{{tag.tagColor}}</td>
                                    <td class="table-data" style="width: 15%">
                                        <button class="table-edit-action-button" (click)="editTag(tag)">
                                            <i class="fa fa-edit"> Edit </i>
                                        </button>
                                        <button class="m-2 table-delete-action-button" (click)="DeleteTag(tag .id)">
                                            <i class="fas fa-trash"> Delete </i>
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mt-5 text-right">
                            <div class="pagination">
                                <a href="#"> <i class="fas fa-angle-double-left"></i> Prev</a>
                                <a href="#" class="active"> 1 </a>
                                <a href="#"> 2 </a>
                                <a href="#"> Next <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>

                    <div style="text-align:center;" *ngIf="tagList == null">
                        <span><b>No record (s) to show !</b></span>
                    </div>

                    <div style="text-align:center;" *ngIf="tagList != null && tagList.length==0">
                        <span><b>No record (s) to show !</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="pager?.pages?.length>1">
        <ul *ngIf="pager.pages && pager?.pages?.length" class="mb-5 pagination-prev page-item pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="pagination-first page-item">
                <a class="page-link" style="cursor: pointer;" *ngIf="pager.currentPage > 1"
                    (click)="getProjectnotebypagination(1)">First</a>
                <a class="page-link" *ngIf="pager.currentPage === 1">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="pagination-prev page-item">
                <a class="page-link" style="cursor: pointer;" *ngIf="pager.currentPage > 1"
                    (click)="getProjectnotebypagination(pager.currentPage - 1)">Previous</a>
                <a class="page-link" *ngIf="pager.currentPage === 1">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
                class="pagination-page page-item">
                <a class="page-link" style="cursor: pointer;" (click)="getProjectnotebypagination(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="pagination-next page-item">
                <a class="page-link" style="cursor: pointer;" *ngIf="pager.totalPages > pager.currentPage"
                    (click)="getProjectnotebypagination(pager.currentPage + 1)">Next</a>
                <a class="page-link" *ngIf="pager.currentPage === pager.totalPages">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="pagination-last page-item">
                <a class="page-link" style="cursor: pointer;" *ngIf="pager.totalPages > pager.currentPage"
                    (click)="getProjectnotebypagination(pager.totalPages)">Last</a>
                <a class="page-link" *ngIf="pager.currentPage === pager.totalPages">Last</a>
            </li>
        </ul>
    </div> -->
</div>



<!--Model Start for Add new milestone Here-->
<div bsModal [config]="{backdrop: 'static',  keyboard: false}" class="modal fade" #htmlModal="bs-modal" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-toggle="modal"
    data-target="#exampleModalScrollable">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <form [formGroup]="TaskTag" method="post" class="form-horizontal">

                <div class="modal-header">
                    <h4 class="modal-title"><b>Task Tag</b></h4>
                    <button type="button" class="close" (click)="htmlModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="col-md-12 mt-2">
                        <p>Add Task Tag :<span class="help-block">*</span></p>
                        <input type="text" placeholder="Add Task Tag" formControlName="tagName" name="tagName"
                            maxlength="50" class="input-form-control" />
                        <p class="error-text" *ngIf="submitAttempt && TaskTag.controls.tagName.errors?.required">
                            Task Tag name is required </p>
                    </div>

                    <div class="col-md-12 mt-2">
                        <p>Add Task Tag color :<span class="help-block">*</span></p>
                        <input type="text" placeholder="Add Task Tag Color" formControlName="tagColor" name="tagColor"
                            maxlength="50" class="input-form-control" />
                        <p class="error-text" *ngIf="submitAttempt && TaskTag.controls.tagColor.errors?.required">
                            Task Tag color is required </p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                        class="primary-btn font-size-18 primary-btn-text-color font-medium tracking-normal text-center"
                        (click)="htmlModal.hide()" aria-label="Close">Cancel</button>
                    <button type="button" (click)="AddTaskTag()"
                        class="primary-btn font-size-18 primary-btn-text-color font-medium tracking-normal text-center">Submit</button>

                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal ends here -->