<!-- <div class="card m-auto" style="width:90%;max-width:600px;">
    <div class="card-body m-sm-3 m-lg-5">
        <h2 class="d-flex align-items-center">
            <i class="fa fa-2x fa-check-circle text-success mr-3"></i> You are now logged out
        </h2>
        <p class="text-center mt-5">
                <a class="btn btn-lg btn-secondary" (click)="login()" ><i class="fas fa-sign-in-alt"></i> Login</a>
        </p>
    </div>
</div> -->
<div class="">
    <div class="full-page-background">
        <div class="container-long">
            <div class="flex items-center justify-between header-align-top">
                <p class="font-size-20 cursor-pointer white-text-color font-medium tracking-normal mb-0">
                    <img src="../../../assets/img/HonestWork Logo.png" style="height: 35px;width: 148px;">
                </p>

            </div>
        </div>
        <div class="card">
            <div class="flex items-center justify-center center-box">
                <div class="login-box p-5">
                    <div class="font-size-24 mb-5" >
                        You Are Now Logged Out

                    </div >
                    <div class="text-center pt-5">
                        <button class="large-btn-style text-center create-account-btn-style" (click)="login()"><i class="fas fa-sign-in-alt"></i>
                            Login</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>