

@import '../../../assets/scss/comman.scss';
@import '../../../assets/scss/variable.scss';
@import '../../../assets/scss/utilize.scss';
@import '../../../assets/scss/media.scss';

.login-box {
    width: 600px;
    background-color: var(--secoundry);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.center-box {
    height: calc(100vh - 80px);
}
.create-account-btn-style {
    min-width: 235px;
    min-height: 60px;
    border-radius: 10px;
    padding: 8px 25px;
}

button:focus {
    outline: none !important;
}
.container-long {
    width: 100%;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
}
.header-align-top {
    padding-top: 50px;
}
.primary-btn {
    background-color: var(--primary-btn-backgound-color);
    padding: 8px 15px;
    border-radius: var(--border-radius-normal);
}
.new-project-btn {
    min-width: 160px;
    min-height: 50px;
}
.logo-text-left {
    left: 28px !important;
}

.error-text{
    color: red;
}
@media (min-width:120px) and (max-width:767px) {
    .header-align-top {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}